

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  grid-template-areas:
    'nav nav'
    'aside content'
    'footer footer';
  height: 100vh;
  grid-gap: 5px;
}

nav,
footer,
aside,
section {
  background: steelblue;
}

.nav-bar {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar section > a {
  text-decoration: none;
  color: aliceblue;
  margin: 5px;
  margin-right: 10px;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.side-bar {
  grid-area: aside;
  text-align: center;
}

.list-items {
  list-style-type: none;
  margin-bottom: 10px;
}

.list-items > li {
  margin: 10px;
}

.list-items > li a {
  text-decoration: none;
  color: aliceblue;
}

.footer {
  grid-area: footer;
}

/* media queries for mobile display */
@media screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.4fr;
    grid-template-areas:
      'nav'
      'content'
      'footer';
  }

  .nav-bar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar > input {
    margin-top: 10px;
  }

  .nav-bar section > a {
    display: none;
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding-left: 35px;
  }

  .footer {
    grid-area: footer;
  }

  .side-bar {
    display: none;
  }
}
